<header class="masthead" [ngStyle]="{'background': 'url(\'' + backgroundUrl + '\') no-repeat bottom center scroll', 'background-size': 'cover'}">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="brand-heading">{{title}}</h1>      
                    <div class="col-md-8 offset-md-2">
                        <ol>
                            <li *ngFor="let entry of codexEntries">
                                <a [routerLink]="['/codex', entry.slug]" >
                                    <strong>{{entry.title}}, {{entry.subtext}}</strong>
                                </a>
                            </li>
                        </ol>
                    </div>        
                </div>
            </div>
        </div>
    </div>
</header>
