<header class="masthead game" [ngStyle]="{'background': 'url(\'' + backgroundUrl + '\') no-repeat bottom center scroll', 'background-size': 'cover'}">
    <div class="intro-body">
        <div class="container">
          <div class="row">
            <div *ngIf="!gameStarted && !exitInProgress" class="col-md-8 offset-md-2">
              <h1 *ngIf="introTitle">{{introTitle}}</h1>              
              <div class="intro-text">
                <p *ngFor="let paragraph of introParagraphs">
                  {{paragraph}}
                </p>
                <div>
                  <button class="btn btn-lg btn-default" (click)="onBeginClick($event)">{{beginText}}</button>
                </div>
              </div>
            </div>
            <div *ngIf="gameStarted && !exitInProgress" class="col-md-8 offset-md-2">
              <h1 *ngIf="title">{{title}}</h1>              
              <div class="intro-text">
                <p class="game-paragraph" *ngFor="let paragraph of paragraphs">
                  <span class="game-word" *ngFor="let word of paragraph">
                    <span *ngIf="!isIdentifier(word)">{{word}}</span>
                    <a href="#" class="hidden-xs-down" *ngIf="isIdentifier(word)" (click)="onIdentifierClick($event, extractIdentifier(word))">{{getIdentifierText(extractIdentifier(word))}}</a>
                    <a href="#" class="hidden-sm-up btn btn-sm btn-default" *ngIf="isIdentifier(word)" (click)="onIdentifierClick($event, extractIdentifier(word))">{{getIdentifierText(extractIdentifier(word))}}</a>
                  </span>
                </p>
              </div>
              <br />
              <br />
              <div>
                <a (click)="onExitClick($event)" style="cursor: pointer">
                  <i class="fa fa-close"></i>
                </a>
              </div>
            </div>
            <div *ngIf="exitInProgress" class="col-md-8 offset-md-2">
              <div class="intro-text">
                <p>
                  {{exitText}}
                </p>
                <div>
                  <button class="btn btn-default" (click)="onCancelExitClick($event)">
                    {{cancelExitText}}
                  </button>
                </div>
                <br />
                <div>
                  <button class="btn btn-sm" (click)="onConfirmExitClick($event)">
                    {{confirmExitText}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</header>
