<header class="masthead" [ngStyle]="{'background': getBackgroundStyle(), 'background-size': 'cover'}">
    <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <h1 class="brand-heading">{{entry.title}}</h1>              
              <p class="intro-text" *ngFor="let paragraph of entry.paragraphs">
                {{paragraph}}
              </p>
              <p>
                <em class="pull-right">{{entry.subtext}}</em>
                <span class="clearfix"></span>
              </p>
              <p>
                <a class="btn btn-circle" [routerLink]="['/codex']" title="Codex">
                  <i class="fa fa-angle-double-left"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
    </div>
</header>
